body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
}

.nav {
    background-color: #004080;
    padding: 10px;
    text-align: center;
}

.nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.header {
    text-align: center;
    padding: 50px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6e/Golde33443.jpg');
    background-size: cover;
    color: white;
}

.content {
    margin: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #004080;
    color: white;
}